import React from 'react';
import {
    ProFormText,
    ModalForm,
    ProFormRadio,
    ProFormUploadButton,
    ProFormTextArea,
    ProFormSelect,
    ProFormCheckbox,
    ProFormRadio,
    ProFormDatePicker
} from '@ant-design/pro-form';

export type FormValueType = Partial<${moduleName}.${ClassName}>;

export type UpdateFormProps = {
    onCancel: (flag?: boolean, formVals?: FormValueType) => void;
    onSubmit: (values: FormValueType) => Promise<void>;
    updateModalVisible: boolean;
    values: Partial<${moduleName}.${ClassName}>;
};



const UpdateForm: React.FC<UpdateFormProps> = (props) => {
    return (
        <ModalForm
            modalProps={{destroyOnClose: true}}
            title={'修改${BusinessName}'}
            width="70%"
            visible={props.updateModalVisible}
            onVisibleChange={props.onCancel}
            onFinish={props.onSubmit}
        >
            #foreach($column in $columns)
                #set($field=$column.javaField)
                #if($column.insert && !$column.pk)
                    #if(($column.usableColumn) || (!$column.superColumn))
                        #set($parentheseIndex=$column.columnComment.indexOf("（"))
                        #if($parentheseIndex != -1)
                            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                        #else
                            #set($comment=$column.columnComment)
                        #end
                        #set($dictType=$column.dictType)
                        #if($column.htmlType == "input")
                            <ProFormText initialValue={props.values.${field}} width="md" name="${field}" label="${comment}" />
                        #elseif($column.htmlType == "imageUpload" || $column.htmlType == "fileUpload")
                            <ProFormUploadButton
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                label="${comment}"
                                max={1}
                                fieldProps={{
                                    name: '${field}',
                                }}
                                action="#"
                                extra=""
                            />
                        #elseif($column.htmlType == "editor")
                            <ProFormTextArea
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                label="${comment}"
                                placeholder="请输入${comment}"
                            />
                        #elseif($column.htmlType == "select")
                            <ProFormSelect
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                label="${comment}"
                                valueEnum={{
                                    china: '请选择字典生成',
                                    usa: '请选择字典生成',
                                }}
                            />
                        #elseif($column.htmlType == "checkbox")
                            <ProFormCheckbox.Group
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                layout="horizontal"
                                label="${comment}"
                                options={['请选择字典生成']}
                            />
                        #elseif($column.htmlType == "radio")
                            <ProFormRadio.Group
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                label="${comment}"
                                options={[
                                    {
                                        label: '请选择字典生成',
                                        value: '',
                                    },
                                ]}
                            />
                        #elseif($column.htmlType == "datetime")
                            <ProFormDatePicker initialValue={props.values.${field}} width="md" name="${field}" label="${comment}" />
                        #elseif($column.htmlType == "textarea")
                            <ProFormTextArea
                                initialValue={props.values.${field}}
                                width="md"
                                name="${field}"
                                label="${comment}"
                                placeholder="请输入${comment}"
                            />
                        #end
                    #end
                #end
            #end
        </ModalForm>
    );
};

export default UpdateForm;
