declare namespace ${moduleName} {
    type ${ClassName} = {
        #foreach ($column in $columns)
            #if(!$table.isSuperColumn($column.javaField))
            /** $column.columnComment */
                $column.javaField?: $column.typeScriptType;
            #end
        #end
        #if($table.sub)
            /** $table.subTable.functionName信息 */
                ${subclassName}List? ${subClassName}[]
        #end
    }
}