import {request} from "@@/plugin-request/request";
/** 列表查询 */
export async function list${BusinessName}(
    options?: { [key: string]: any },
) {
    return request<${moduleName}.ResponseResult>('/api/${moduleName}/${businessName}/list', {
        method: 'GET',
        ...(options || {}),
    });
}

/** 获取详情 */
export async function get${BusinessName}(${pkColumn.javaField}: any) {
    return request<any>('/${moduleName}/${businessName}/' + ${pkColumn.javaField}, {
        method: 'GET',
    });
}

/** 新增 */
export async function add${BusinessName}(data: ${moduleName}.${ClassName}) {
    return request<${moduleName}.${ClassName}>('/api/${moduleName}/${businessName}', {
        method: 'POST',
        data: data
    });
}

/** 更新 */
export async function update${BusinessName}(data: ${moduleName}.${ClassName}) {
    return request<${moduleName}.${ClassName}>('/api/${moduleName}/${businessName}', {
        method: 'PUT',
        data: data
    });
}

/** 删除 */
export async function remove${BusinessName}(${pkColumn.javaField}: any) {
    return request<${moduleName}.${ClassName}>('/${moduleName}/${businessName}/' + ${pkColumn.javaField}, {
        method: 'DELETE'
    });
}
